
  .card-header {
    background-color: white !important;
    border-width: 0.1rem;
    background-clip: content-box;
    border: none;
    text-align: center;
    color: #009650;
    font-weight: bold;
  }
  .card-style {
    margin-bottom: 2rem;
    border: 1rem solid;
    border-color: #ef1a21 #007eca #231e20 #f6ec24ff;
    border-width: 0.5rem;
    color: none;
    padding: 0.5rem;
    border-radius: 5%;
  }

  .card-img-top {
    margin: 0.2rem 0.2rem;
  }

  .badge-fredmeyer{
    background-color: #ef1a21 !important;
  }

  .badge-walmart{
    background-color: #007eca !important;
  }

  .badge-safeway{
    background-color: #231e20 !important;
  }

  .badge-winco{
    background-color: #a91f23 !important;
  }

 .list-group{
   border: none !important;
   border: 1rem solid;
   border-width: 0.1rem;
   border-color: white;
 }

@media screen and (max-width :3000px) and (min-width: 1400px)
{
  .card .badge {
    font-size: 16px;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
  }
  .price {
    font-size: 16px !important;
  }
}

@media screen and (max-width :1399px) and (min-width: 1186px)
{
  .card .badge {
    font-size: 14px;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
  }
  .price {
    font-size: 14px !important;;
  }
}

@media screen and (max-width :1185px) and (min-width: 970px)
{
  .card .badge {
    font-size: 16px;
    margin-right: 1.7rem;
    margin-left: 1.7rem;
  }
  .price {
    font-size: 16px !important;;
  }
}

@media screen and (max-width :969px) and (min-width: 751px)
{
  .card .badge {
    font-size: 20px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .price {
    font-size: 20px !important;;
  }
}

@media screen and (max-width :750px) and (min-width: 100px)
{
  .card .badge {
    font-size: 28px;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
  }
  .price {
    font-size: 28px !important;;
  }
}

.list-group-item {
  align-items: center;
  justify-content: center;
  border: none !important;
  padding: 0;
}

.price {
  font-weight: bold;
  color: #009650;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.form-check-input:checked {
	background-color: #009650;
	border-color: #009650;
}

.compare-badge {
  background-color: #009650 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.add-badge {
  background-color: #009650 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.compare-badge-selected {
  background-color: #f204fa !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.compare-badge-selected:hover {
  border-color: #f204fa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #f204fa;
}

.add-badge-selected {
  background-color: #f204fa !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.add-badge-selected:hover {
  border-color: #f204fa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #f204fa;
}

.compare-badge:hover {
  border-color: #009650;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #009650;
}

.add-badge:hover {
  border-color: #009650;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #009650;
}

.icon-c {
  pointer-events:none;
}

.icon-plus {
  pointer-events:none;
}

.compare-badge:active {
  background-color: #f204fa !important;
}